nav{
    height: 85px;
    width: 100%;
}

.logo{
    background-color: $color4;
    width: 95px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;

    @include logo-rotate {
        transform: rotate(-90deg);
        width: 95px;
        height: 80px;
        position: absolute;
        top: 0;
        left: -8px;
    }
}


.navbar-toggler-icon{
    color: $color4;
}



