.seccion2{
    width: 100%;
    

    .seccion2-shop{
        height: 65%;
        width: 100%;
        padding-top: 20px;
    }
    .newsletter{
        height: 35%;
        width: 100%;
    }
    @include vista-desktop{
        height: 110vh;
        width: 40%;  

    }

}




