.main{
    width: 100%;
    display: block;

}
.seccion1{
    height: 55vh;
    background-image: url('../img/imagen1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    

    @include vista-tablet{
        background-position: center;
        height: 70vh;

    }
    @include vista-desktop{
        background-position: center;
        height: 100vh;
        width: 60%;
        position: absolute;
        left: 40%;
        
        
    }
}
