//colores
$color1 : #FFF;
$color2 : #ECECEC;
$color3 : #D1D1D1;
$color4 : #0C0910;
$color5 : #646266;
$color6 : #A6A5AB;

//tamaños de pantallas
$screen-movil : 576px;
$screen-tablet : 768px;
$screen-desktop: 992px;




